/* ===== RESET ========== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

/* ===== VARIABLES ========== */
:root {
  font-size: 62.5%;

  --hue: 275;

  --purple-main: hsl(var(--hue), 81%, 14%);
  --purple-light: hsl(var(--hue), 41%, 59%);
  --purple-dark: hsl(var(--hue), 100%, 8%);
  --bg-color: hsl(var(--hue), 100%, 98%);

  --text-color: #111;
  --white-color: #fff;
  --green-color: hsl(119, 100%, 65%);
}

/* ===== GERAL ========== */
html {
  font-size: 100%;
}

body {
  font-size: 1.6rem;
  background: var(--bg-color);
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

p,
a,
span,
figcaption {
  font-family: 'Roboto', sans-serif;
}

input,
button {
  outline: none;
  border: none;
}

/* ===== UTILITY CLASSES ========== */
.wrapper {
  margin: 0 auto;
  padding-inline: 6rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
}

.title {
  font-size: 3.6rem;
  line-height: 5.4rem;
  color: var(--purple-light);
  margin-bottom: 1.6rem;
  max-width: 22ch;
}

.subtitle {
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: var(--purple-main);
}

/* ===== HEADER ========== */
#header {
  background: var(--purple-main);
  padding-block: 2rem;
}

#header nav ul {
  display: flex;
  gap: 3.2rem;
}

#header nav li a {
  color: var(--white-color);
  font-size: 1.8rem;
  transition: all 500ms ease;
}

#header nav li a:hover,
#header nav li a:hover::before {
  font-weight: bold;
  height: 1.3rem;
}

#header nav li a::before {
  content: '';
  display: inline-block;
  width: 0.4rem;
  margin-right: 0.5rem;
  background: var(--green-color);
  height: 0;
  transition: all 500ms ease;
}

.search {
  display: inline-flex;
}

.search input {
  padding: 1.4rem;
  background: var(--purple-dark);
  color: var(--white-color);
  border-radius: 0.4rem 0 0 0.4rem;
}

.search button {
  padding: 0.5rem 1.2rem;
  background: var(--purple-light);
  border-radius: 0 0.4rem 0.4rem 0;
}

/* ===== HERO SECTION ========== */
#hero-section {
  background: var(--purple-main);
  padding-block: 6.4rem;
  border-bottom: 0.4rem solid var(--green-color);
}

#hero-section p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--white-color);
  margin-bottom: 2.4rem;
  max-width: 48ch;
}

#hero-section a {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--purple-light);
  gap: 0.8rem;
  font-weight: bold;
}

#hero-section a:hover img {
  transform: scale(1.1);
}

#hero-section .hero-img img {
  border-radius: 0.8rem;
}

/* ===== MAIN POSTS ========== */
#main-posts {
  padding-block: 6.4rem;
}

.main-post figure img {
  margin-bottom: 1.6rem;
  border-radius: 0.8rem;
}

.main-post figure figcaption {
  margin-bottom: 1.6rem;
  color: var(--text-color);
}

.main-post .subtitle {
  margin-bottom: 1.6rem;
}

.main-post p {
  max-width: 62ch;
  color: var(--text-color);
}

.main-aside-post {
  margin-bottom: 6.4rem;
  padding-bottom: 4rem;
  border-bottom: 2px solid #f2e7fa;
}

.main-aside-post p,
.secondary-aside-post p {
  margin-bottom: 0.8rem;
  color: var(--text-color);
  line-height: 2.4rem;
}

.main-aside-post h2,
.secondary-aside-post h2 {
  margin-bottom: 0.8rem;
}

/* ===== MORE POSTS ========== */
#more-posts {
  padding-bottom: 6.4rem;
}

#more-posts figure img {
  border-radius: 0.8rem;
  margin-bottom: 1.6rem;
}

#more-posts figure figcaption {
  margin-bottom: 0.8em;
}

#more-posts .flex {
  gap: 3rem;
}

#more-posts .post {
  max-width: 40rem;
}

#more-posts .post h2 {
  margin-bottom: 0.8rem;
}

/* RESPONSIVE ============ */
@media (max-width: 900px) {
  .wrapper {
    padding-inline: 4rem;
  }

  .title {
    font-size: 3rem;
    line-height: 4rem;
  }

  #hero-section p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 800px) {
  header nav ul {
    gap: 2.2rem;
  }

  header nav li a {
    font-size: 1.6rem;
  }

  .search input {
    padding: 0.4rem;
  }

  .search button {
    padding: 0.5rem;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
    margin: 0 auto;
  }

  #hero-section {
    padding-block: 4.4rem;
  }

  #hero-section .title {
    max-width: initial;
  }

  #hero-section p {
    max-width: initial;
  }

  #hero-section .hero-img {
    display: none;
  }

  #main-posts .grid {
    justify-items: center;
  }

  #main-posts {
    text-align: center;
  }

  .main-post {
    margin-bottom: 6.2rem;
  }

  .subtitle {
    max-width: 32ch;
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 auto;
    margin-bottom: 1.6rem;
  }

  #main-posts p {
    font-size: 1.4rem;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .search {
    display: none;
  }

  .subtitle {
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  #more-posts p {
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .flex {
    flex-direction: column;
    gap: 3.2rem;
  }

  #header nav li a::before {
    display: none;
  }

  #header nav li a:hover,
  #header nav li a:hover::after {
    font-weight: bold;
    width: 90%;
  }

  #header nav li a::after {
    content: '';
    display: block;
    width: 0;
    margin: 2px 3px;
    background: var(--green-color);
    height: 0.3rem;
    transition: all 500ms ease;
  }

  #more-posts .subtitle {
    margin: initial;
  }

  #more-posts .post {
    margin-bottom: 6.4rem;
  }
}
